@import "tailwindcss";

@theme inline {
    --color-brand: #2563eb;
    --color-red-alert: #dc2626;
    --font-family-base: "JetBrains Mono", monospace;
}

* {
    font-family: "JetBrains Mono", monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #18181b inset !important; /* Cor do zinc-900 */
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}
